.horizontal-layout {
  display: flex;
  flex-direction: row;
  border: 2px dotted olivedrab;
  justify-content: space-between;
}

.underline-title {
  text-decoration: underline solid black;
}

h2 {
  text-decoration: underline dashed red;
}

li:hover {
  font-size: 45px;
  color: red;
}

li:first-child {
  color: orange;
}
